.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:20.04pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0em;}
.Heading_1_a {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:28.5pt;text-decoration:none;text-transform: none;color:#52524F;letter-spacing:0em;}
.Heading_2_a {font-size:26pt;}
